#Data type and Structures

1. What are data structures, and why are they important?

  -> Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use. They are important because simplify data manipulation, optimize searching and sorting operations, and conserve memory usage.

2.   Explain the difference between mutable and immutable data types with examples.

  -> Mutable data types can be modified after creation such as list and dictionaries, while Immutable data type cannot modified after creation such as tuple and string.

In [ ]:
#Example
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

# Modifying list
my_list[0] = 10
print("Modified list:", my_list)

# Trying to modify tuple
try:
    my_tuple[0] = 10
except TypeError as e:
    print("Error:", e)

Modified list: [10, 2, 3]
Error: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

  -> The main difference between lists and tuples in python is ,Lists are mutable data structure but tuples are immutable data structure.

4. Describe how dictionaries store data.

  -> Dictionaries store data in the form of key value pair. It store data unordered format. In dictionaries, we can access value with the help of their corresponding keys.

5. Why might you use a set instead of a list in Python?

  -> You might use a set instead of a list in Python when you need : unique elements only (sets remove duplicates automatically), fast membership checks, efficient set operations like union, intersection, and difference.

6. What is a string in Python, and how is it different from a list?

  -> String in python is a sequence of characters. It represents and manipulate textual data. It is different from a list because List are mutable but string is immutable and List stores any types of data but string stores only characters data.

7. How do tuples ensure data integrity in Python?

  -> Tuples ensure data integrity in Python by being immutable—once created, their values cannot be changed. This prevents accidental modifications, making them ideal for storing fixed, constant, or protected data.

8. What is a hash table, and how does it relate to dictionaries in Python?

  -> A hash table is a data structure that maps keys to values using a hash function to compute an index into an array of buckets where the data is stored. It related to dictionaries in python because python dictionaries are built on hash tables. When you add a key-value pair to a dictionary:(a) Python computes a hash of the key.(b) Uses that hash to find an index in an internal array.(c) Stores the value at that position.

9. Can lists contain different data types in Python?

  -> Yes, lists contain different data types in python because it is hetrogeneous, means store any types of data such as integers, float, strings etc.

10. Explain why strings are immutable in Python?

  -> Strings are immutable in Python to ensure data safety, efficient memory use, and to allow their use as keys in dictionaries. Once created, a string can't be changed—this makes code more reliable and fast.

11. What advantages do dictionaries offer over lists for certain tasks?

  -> Dictionaries offer key advantages over lists for certain tasks: Fast lookups using keys (O(1) time), descriptive keys make data easier to understand, and no need to search through items to find a match.

12. Describe a scenario where using a tuple would be preferable over a list.

  -> Using a tuple would be preferable over a list when you need fixed and unchangeable data. Tuple provide data protection and better performance.

13.  How do sets handle duplicate values in Python?

  -> In Python, sets automatically eliminate duplicate values. When you add elements to a set, Python checks each new item's hash value and only keeps one instance of each unique value.

14. How does the “in” keyword work differently for lists and dictionaries?

  -> The "in" keyword work differntly for lists and dictionaries. In a list, it checks if a value exists in the list. But in a dictionaries, it checks if a key exists (not a value).

15. Can you modify the elements of a tuple? Explain why or why not?

  -> No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its contents cannot be changed. This ensures data integrity.

16. What is a nested dictionary, and give an example of its use case?

  -> A nested dictionary in Python is a dictionary where values themselves are dictionaries. It's useful for representing hierarchical or structured data.
  Its use case in Database records, Configurations and Multi-level categories.

In [ ]:
#example
students = {
    "Abhay": {"age": 22, "grade": "A"},
    "Mohit": {"age": 21, "grade": "B"},
}
#access values
print(students["Abhay"]["age"])

22

17. Describe the time complexity of accessing elements in a dictionary.

  -> The time complexity of accessing elements in a dictionaty : In average case - O(1) and In worst case - O(n). Dictionary access typically O(1). It is faster and efficient due to hashing.

18.  In what situations are lists preferred over dictionaries?

  -> Lists are prefferable over dictionaries when you need ordered, indexable, or duplicate data without the overhead of key-value pairs.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

  -> Dictionaries considered unordered because it uses a hash table, which stores data based on hash values, not position or sequence. Dictionaries are still accessed by keys, not positions.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

  -> The main differnce between a list and a dictionaty in term of data retrival , the data access by indexing in list but in dictionary, the data access by key.

#Practical Questions

In [2]:
# 1. Write a code to create a string with your name and print it.

name = "Himanshu Soni"
print(name)

Himanshu Soni

In [3]:
# 2.  Write a code to find the length of the string "Hello World".

str1="Hello World"
print(len(str1))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

str1 = "Python Programming"
print(str1[0:3])

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.

a = "hello"
b= a.upper()
print(b)

HELLO

In [22]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

a = "I like apple"
b = a.replace("apple","orange")
print(b)

I like orange

In [23]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

lst = [1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [24]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

lst1= [1,2,3,4]
lst1.append(10)
lst1

[1, 2, 3, 4, 10]

In [25]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst2 = [1,2,3,4,5]
lst2.remove(3)
lst2

[1, 2, 4, 5]

In [27]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

lst3 = ['a','b','c','d']
lst3[1] #here indexing start from 0. If we access the second element we write 1.

'b'

In [28]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10,20,30,40,50]
reverse_list = my_list[::-1]
reverse_list

[50, 40, 30, 20, 10]

In [30]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100,200,300)
print(tup)

(100, 200, 300)

In [31]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tup1 = ('red','green','blue','yellow')
second_to_last = tup1[-2]
print(second_to_last)

blue

In [32]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup2 = (10,20,5,15)
min_number = min(tup2)
print(min_number)

5

In [33]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dag','cat','rabbit')
index_of_cat = animals.index("cat")
print(index_of_cat)

1

In [1]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

friuts = ('apple','banana','kiwi')
is_kiwi_present = 'kiwi' in friuts
print(is_kiwi_present)

True

In [3]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

sets = {'a','b','c'}
print(sets)
print(type(sets))

{'c', 'b', 'a'}
<class 'set'>

In [4]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()

print(my_set)

set()

In [5]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [6]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [7]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

In [9]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

Person = {
    "name" : "Himanshu Soni",
    "age" : 39,
    "city" : "Jaipur"
}
print(Person)

{'name': 'Himanshu Soni', 'age': 39, 'city': 'Jaipur'}

In [10]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [11]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person ={
    'name' : 'Alice',
    'age' : 30
}

person['name']

'Alice'

In [13]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

Info = {
    'name' : 'Bob',
    'age' : 22,
    'city' : 'New York'
}
Info.pop('age')
print(Info)

{'name': 'Bob', 'city': 'New York'}

In [16]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict ={
    'name' : 'Alice',
    'city' : 'Paris'
}

print('city' in dict)

True

In [17]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1,2,3,4,5]
my_tuple = ('ram','mohan','rohit','aman')
my_dict = {
    'name' : 'Don',
    'age' : 45,
    'profession' : 'Engineer'
}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
('ram', 'mohan', 'rohit', 'aman')
{'name': 'Don', 'age': 45, 'profession': 'Engineer'}

In [20]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()

print("Sorted list:", random_numbers)

Sorted list: [7, 25, 29, 52, 91]

In [21]:
# 28. Write a code to create a list with strings and print the element at the third index.

string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

In [22]:
# 29.  Write a code to combine two dictionaries into one and print the result.

Info1 = {
    'Name' : 'Himanshu',
    'age' : 34
}

Info2 = {
    'city' : 'Delhi',
    'mobile_no' : 12345
}

combined_dict = {**Info1, **Info2}
print(combined_dict)

{'Name': 'Himanshu', 'age': 34, 'city': 'Delhi', 'mobile_no': 12345}

In [23]:
# 30. Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)

print(string_set)

{'banana', 'cherry', 'apple'}